  <div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ item.title }}</h5>
    <p class="card-text">{{ item.body }}</p>


    <a href="/src/" class="btn btn-primary">
      <button type="button">G.Encuestas</button>
  </a>
  
  <a href="/undefined" class="btn btn-secondary">
      <button type="button">G.Preguntas</button>
  </a>
  
  <a href="/undefined" class="btn btn-success">
      <button type="button">G.Tipo_Preguntas</button>
  </a>
  

  </div>
  <hr>
  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-success position-relative" (click)="onClickLike()">
      <i class="fa-solid fa-thumbs-up"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
       {{item.reactions.likes}}
       <span class="visually-hidden">unread message</span>
    </span>
    </button>
    <button type="button" class="btn btn-secondary position-relative" (click)="onClickDislike()">
      <i class="fa-solid fa-thumbs-down"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
       {{item.reactions.dislikes}}
       <span class="visually-hidden">unread message</span>
    </span>
    </button> 

  </div>
</div>
