<div>
  <h2>Formulario de Preguntas</h2>
  <form (ngSubmit)="onSubmit()">
    <div *ngFor="let pregunta of preguntas; let i = index">
      <label>Pregunta {{ i + 1 }}</label>
      <input
        type="text"
        [(ngModel)]="pregunta.texto"
        name="texto{{ i }}"
        placeholder="Escribe tu pregunta"
        required
      />
      <select [(ngModel)]="pregunta.tipo" name="tipo{{ i }}">
        <option value="texto">Texto</option>
        <option value="numero">Número</option>
        <option value="opciones">Opción Múltiple</option>
      </select>
      <button type="button" (click)="eliminarPregunta(i)">Eliminar</button>
    </div>

    <button type="button" (click)="agregarPregunta('texto')">
      Agregar Pregunta de Texto
    </button>
    <button type="button" (click)="agregarPregunta('numero')">
      Agregar Pregunta Numérica
    </button>
    <button type="button" (click)="agregarPregunta('opciones')">
      Agregar Pregunta de Opción Múltiple
    </button>
    <br />
    <button type="submit">Agregar</button>
    <button type="button" (click)="cancelar()">Cancelar</button>
  </form>
</div>
